<div class="col-md-6 chatBox-min">
  <div class="card card-custom-min">
    <div class="card-header card-custom-header">
        <span>
          <img src="../../../../assets/images/Motu.PNG" class="rounded-circle" alt="Life Bot" width="50px" height="50px">
        </span>
        <span style="font-weight: bold; margin-left: 10px;font-size: 20px;">Life Chat Bot</span>
        <span class="fa fa-minus" *ngIf="isMinusSign" style="float:right;font-size: 22px;margin-top: 12px;margin-right: 5px;" (click)="minimize()"></span>
        <span class="fa fa-plus" *ngIf="isPlusSign" style="float:right;font-size: 22px;margin-top: 12px;margin-right: 5px;" (click)="maximize()"></span>
    </div>
    <div class="card-body-min card-custom-body" #chatList>
        <div class="date">{{todayDate | date:'fullDate'}}</div>
        <ng-container *ngFor="let message of messages | async">
            <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot','to':   message.sentBy === 'user' }">
              <div class="avatar" [ngClass]="{ 'from': message.sentBy === 'bot','to':   message.sentBy === 'user' }"><img  class="rounded-circle" [src]="message.avatar" height="40" width="40"/></div>
              {{ message.content }}&nbsp;&nbsp;
              <div class="time" [ngClass]="{ 'from': message.sentBy === 'bot','to':   message.sentBy === 'user' }">&nbsp;{{message.chatTime | date:'HH:MM:ss'}}</div>
            </div>
        </ng-container>
    </div>
    <div class="card-footer-min card-custom-footer" >
      <div class="form-group">
        <form>
          <div class="input-group">
            <textarea [rows]="2" class="form-control col-md-12" autocomplete="off" name="chatText" placeholder="Ask Motu about life..." [(ngModel)]="formValue" (keyup.enter)="sendMessage()" onfocus="this.placeholder=''" onblur="this.placeholder='Ask Motu about life...'"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
