.chatBox {
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 0px 10px 2px;
    width: 376px;
    position: fixed;
    float:right;
    height: 500px;
    bottom: 70px;
    right: 20px;
    background-color: #FFFFFF;
}
.message {
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: 400;
    display: inline-block;
}
.message.to {
    background-color: #5c695e;
    color: #FFFFFF;
    margin-left: 100px;
    text-align: right;
    border-radius: 16px 0px 16px 16px;
    box-shadow: inset 0px 0px 20px 4px;
    float: right;
}
.message.from {
    background-color: #ec3d069e;
    color: #FFFFFF;
    margin-right: 100px;
    text-align: left;
    border-radius: 0px 16px 16px 16px;
    box-shadow: inset 0px 0px 20px 4px;

}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}
.card-custom{
    margin-left: -15px;
    width: 376px !important;
    height: 500px !important;
    background-color: #363636;
    border-radius: 8px 8px 8px 8px;
}

.card-custom-header{
    height: 75px !important;
    background-color: #363636;
    color: #FFFFFF;
}

.card-custom-body{
    height: 360px !important;
    background-color: #FFFFFF;
    overflow-y: auto;
}
.card-custom-footer{
    height: 65px !important;
    background-color: #FFFFFF;
}
input{
    border-color: #dc3545;
    color: #2095FE !important;
}
.avatar{
    height: 40px;
}
.avatar.to{
    margin-top: -28px;
    margin-right: -30px;
}
.avatar.from{
    margin-top: -28px;
    margin-left: -30px;
}
.date{
    text-align: center;
    color: #363636;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: -16px;
}
.time{
    font-weight: 600;
}
.time.to{
    float: left;
}
.time.from{
    float:right;
}

.card-custom-body::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.card-custom-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.card-custom-body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.card-custom-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
